/** @format */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background: #0d0d0d;
  color: #fff;
  user-select: none;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  background: #7010ff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.btn:active {
  opacity: 0.7;
}

.btn-secondary {
  background: transparent;
  border: 1px solid #3a3b3c;
}

.container {
  max-width: 1300px;
  min-width: 1100px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
}

.top {
  align-items: start;
}

.bottom {
  align-items: end;
}

.right-left {
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

.left {
  align-items: start;
}

.right {
  align-items: end;
}

/* !Item */

.item {
  min-width: 100px;
  outline: 1px solid #3a3b3c;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  min-height: 75px;
  height: 75px;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  flex-direction: column;
  background: #121314;
  position: relative;
  cursor: default;
}

.item-details {
  position: absolute;
  top: 115%;
  left: 0%;
  padding: 1rem;
  background: #7010ff;
  width: calc(200% + 1rem);
  z-index: 999;
  border-radius: 10px;
  display: none;
}

.top .item-details {
  top: 115%;
  left: 0%;
}

.bottom .item-details {
  top: -300%;
  left: 0%;
}

.left .item-details {
  top: 0%;
  left: 115%;
}

.right .item-details {
  top: 0%;
  left: -230%;
}

.item:hover .item-details {
  display: flex;
  flex-direction: column;
}

.rent-details p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rent-details p b {
  font-weight: 600;
}

.corner-item {
  min-width: 150px;
  min-height: 150px;
}

.ticket-purchase-popup {
  display: flex;
  flex-direction: column;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #121314;
  border: 1px solid #3a3b3c;
  padding: 1rem;
  border-radius: 10px;
  grid-gap: 1rem;
  z-index: 9999;
  transition: 0.3s ease;
  transform: translate(-50%, -50%) scale(0);
}

.ticket-purchase-popup .ticket-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ticket-purchase-popup .rent-details {
  width: 100%;
}

.purchase-btns {
  display: flex;
  justify-content: space-between;
  grid-gap: 1rem;
}

.purchase-btns .btn {
  flex: 1;
}

/*! Dice */

.dies {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  grid-gap: 1rem;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.dice {
  width: 50px;
  height: 50px;
  background: #fff;
  color: #000;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  transition: none;
}

.dice-effect {
  transition: 1s ease-out;
  transform: rotate(720deg);
}

.dice-face {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  height: 80%;
  align-items: center;
  position: relative;
}

.dot {
  width: 30%;
  height: 30%;
  background: crimson;
  border-radius: 50%;
  margin: 10% auto;
}

.dot-3:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.dot-3:nth-child(2) {
  align-self: center;
  justify-self: center;
}
.dot-3:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
}

.dot-4 {
  flex-basis: 35%;
}
.dot-5:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.dot-5:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
}
.dot-5:nth-child(3) {
  align-self: center;
  justify-self: center;
}
.dot-5:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
}
.dot-5:nth-child(5) {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Pawns */

.pawn {
  position: absolute;
  left: 89%;
  top: 88%;
  background: #fe3248;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease-out;
}

.pawn-red {
  left: 89%;
  top: 88%;
}

.pawn-blue {
  left: 93%;
  background: #6d47fc;
}

.pawn-yellow {
  top: 93%;
  background: #fbdc00;
}

.pawn-green {
  top: 93%;
  left: 93%;
  background: #00c65e;
}

/* !block design */

.top .c-red {
  border-bottom: 5px solid crimson;
}

.bottom .c-red {
  border-top: 5px solid crimson;
}

.left .c-red {
  border-right: 5px solid crimson;
}

.right .c-red {
  border-left: 5px solid crimson;
}

.top .c-blue {
  border-bottom: 5px solid #7010ff;
}

.bottom .c-blue {
  border-top: 5px solid #7010ff;
}

.left .c-blue {
  border-right: 5px solid #7010ff;
}

.right .c-blue {
  border-left: 5px solid #7010ff;
}

.top .c-yellow {
  border-bottom: 5px solid gold;
}

.bottom .c-yellow {
  border-top: 5px solid gold;
}

.left .c-yellow {
  border-right: 5px solid gold;
}

.right .c-yellow {
  border-left: 5px solid gold;
}

.top .c-green {
  border-bottom: 5px solid yellowgreen;
}

.bottom .c-green {
  border-top: 5px solid yellowgreen;
}

.left .c-green {
  border-right: 5px solid yellowgreen;
}

.right .c-green {
  border-left: 5px solid yellowgreen;
}

.top .c-silver {
  border-bottom: 5px solid silver;
}

.bottom .c-silver {
  border-top: 5px solid silver;
}

.left .c-silver {
  border-right: 5px solid silver;
}

.right .c-silver {
  border-left: 5px solid silver;
}

/* Player */

.player-details {
  position: absolute;
  width: 800px;
  height: 700px;
  top: 18%;
  left: 20%;
}

.player {
  position: absolute;
  outline: 1px solid #3a3b3c;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player p {
  color: #3a3b3c;
}

.player-red {
  top: 0%;
  left: 0%;
  border-top: 5px solid crimson;
}

.player-blue {
  top: 0%;
  right: 0%;
  border-top: 5px solid #7010ff;
}

.player-yellow {
  bottom: 0%;
  left: 0%;
  border-top: 5px solid gold;
}

.player-green {
  bottom: 0%;
  right: 0%;
  border-top: 5px solid yellowgreen;
}
